body {
    background-color: #F2F5F7;
    font-family: Arial, sans-serif;
}

.container {
    width: 94%;
    margin: 0 auto;
}
.cabecalhoPrincipal {
    background-color: #fff;
    padding: 20px 0;
}

.cabecalhoPrincipal__titulo {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
}
.cabecalhoPrincipal__titulo a {
    text-decoration: none;
    color: inherit;
}
.cabecalhoPrincipal__nav__link {
    padding: 10px;
    margin-bottom: 10px;
    color: #9799A6;
    background-color: #FFF;
    text-decoration: none;
    transition: .5s;
    display: block;
}